<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chibiao.lms.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.chibiao.lms.domain.Teacher" >
    <id column="teacher_no" property="teacherNo" jdbcType="BIGINT" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="teacher_password" property="teacherPassword" jdbcType="VARCHAR" />
    <result column="teacher_email" property="teacherEmail" jdbcType="VARCHAR" />
    <result column="teacher_phone" property="teacherPhone" jdbcType="VARCHAR" />
    <result column="teacher_sex" property="teacherSex" jdbcType="INTEGER" />
    <result column="teacher_type" property="teacherType" jdbcType="INTEGER" />
    <result column="dept_no" property="department.deptNo" jdbcType="BIGINT" />
    <result column="dept_name" property="department.deptName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from teacher
    where teacher_no = #{teacherNo,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chibiao.lms.domain.Teacher" >
    insert into teacher (teacher_no,teacher_name, teacher_password,
      teacher_email, teacher_phone, teacher_type,teacher_sex,dept_no
      )
    values (#{teacherNo},#{teacherName,jdbcType=VARCHAR}, #{teacherPassword,jdbcType=VARCHAR},
      #{teacherEmail,jdbcType=VARCHAR}, #{teacherPhone,jdbcType=VARCHAR}, #{teacherType,jdbcType=INTEGER},
      #{teacherSex},#{department.deptNo}
      )
  </insert>
    <insert id="addMyCourse">
        insert into teacher_course_rel(course_no,teacher_no)
        values (#{courseNo},#{teacherNo})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.chibiao.lms.domain.Teacher" >
    update teacher
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_password = #{teacherPassword,jdbcType=VARCHAR},
      teacher_email = #{teacherEmail,jdbcType=VARCHAR},
      teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      teacher_type = #{teacherType,jdbcType=INTEGER}
    where teacher_no = #{teacherNo,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select teacher_no, teacher_name, teacher_password, teacher_email, teacher_phone, 
    teacher_type,teacher_sex,dept_no
    from teacher
    where teacher_no = #{teacherNo,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select teacher_no, teacher_name, teacher_password, teacher_email, teacher_phone, 
    teacher_type,teacher_sex,dept_no
    from teacher
  </select>
    <select id="queryTeachers" resultMap="BaseResultMap">
        select t.teacher_no, t.teacher_name, t.teacher_password, t.teacher_email, t.teacher_phone,
        t.teacher_type,t.teacher_sex,d.dept_no,d.dept_name
        from teacher t left join department d on t.dept_no = d.dept_no
        <where>
            <if test="teacherNo!=null">
                and teacher_no = #{teacherNo}
            </if>
            <if test="teacherName!=null and teacherName!=''">
                and teacher_name = #{teacherName}
            </if>
            <if test="teacherType!=null">
                and teacher_type = #{teacherType}
            </if>
        </where>
    </select>
</mapper>